@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Essa aplicação não coleta informações pessoais sem o consentimento explícito do usuário. As informações coletadas são processadas apenas para fins de uso do próprio software, sem outras intenções de uso. Todos os dados armazenados estão localizados em servidor informado na instalação do software.</p>
