@{
    ViewData["Title"] = "Deletar Produto";
}

<div class="text-center">

    <h1>Você tem certeza que deseja apagar este produto?</h1>
    <h4>Essa ação não pode ser desfeita!</h4>
    <p>Os pedidos e entregas registrados com este produto não serão afetados.</p>

    <a class="btn btn-danger" role="button" asp-controller="Product" asp-action="Del">Sim, deletar permanentemente</a>
    <a class="btn btn-primary" role="button" asp-controller="Product" asp-action="Index">Não, cancelar</a>
    



</div>


